@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

body {
  background-image: url('유민영.jpg');
  background-repeat: no-repeat;
  background-size: 1370px,800px;
}
.html,body,menu,div,section,ul,li{
  margin: 0;
  padding: 0;
  font-size: 100%;
}
a{
  text-decoration: none;
}

.box2 ul{
  position:absolute; top: 0px;
  width:1370px;
  height:100px;
  background: white;
  -ms-filter:alpha(opacity=0.5);
  filter: alpha(opacity=0.5);
    opacity:0.4;
    box-shadow: 0px 1px 7px rgba(0,0,0,0.4);
  }
.소개_menu li{
  float: left;
  list-style-type: none;
}
.소개_menu li a{
  position: relative; top: 35px;
  padding: 35px 23px 45px;
  color:#f28195;
  opacity: 1;
  list-style: none;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
.소개_menu li a:hover {
  color:gray;
  box-shadow: inset 0px 3px #f18195;
  padding: 35px 23px 35px;
  background-color: rgba(255, 255, 255, 0.7);
  }
#first{
    margin-left: 800px;
  }
#동아리원소개 li{
  padding: 35px 23px 45px;
  list-style: none;
  position: absolute;
  font-size:37px;
  font-family: 'Nanum Pen Script', cursive;
  color: black;
  list-style:none;
  border-color: black;
  margin-left: 20px;
}
.동아리원설명 ul{
  position: absolute;
  top: 500px;
  left: 100px;
}
.동아리원설명 ul li{
  list-style: none;
  font-size: 35px;
  font-family: THE외계인설명서;
  color: gray;
}
